---
import type { MetaSEO } from '~/types'
import Layout from '~/layouts/BaseLayout.astro'

export interface Props {
  meta?: MetaSEO
}

const { meta } = Astro.props;
---

<Layout {meta}>
  <slot name="header" />
  <main>
    <slot />
  </main>
  <slot name="footer" />
</Layout>
